body {

    min-height:100vh;
    background:var(--background);
    color:var(--text);
    overflow-x:hidden;

}


/* ================================
      NAVBAR
================================ */

.site-header {

    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    background: #0b1326;
    border-bottom: 2px solid var(--cyan);
    box-shadow: var(--glow-cyan);

}


.site-nav {

    width:100%;
    padding:18px 30px;
    display:flex;
    align-items:center;
    justify-content:space-between;

}


/* LOGO */

.nav-logo {

    font-family:"Rubik", sans-serif;
    font-size:2rem;
    font-weight:900;
    color:var(--pink-light);
    text-decoration:none;
    text-transform:uppercase;
    letter-spacing:.05em;
    text-shadow:var(--glow-pink);

}



/* LINKS */

.nav-links {

    display:flex;
    gap:45px;
    list-style:none;
    margin:0;
    padding:0;

}



.nav-link {

    color:var(--text);
    text-decoration:none;
    font-size:1rem;
    font-weight:700;
    text-transform:uppercase;
    transition:.3s;

}



.nav-link:hover {

    color:var(--cyan);
    text-shadow:var(--glow-cyan);

}